<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd" default-init-method="init"
       default-destroy-method="destroy">

    <bean id="userRepo" class="com.shaheen.repos.UserRepoImpl" scope="prototype"></bean>
    <bean id="userService" class="com.shaheen.services.UserServiceImpl" autowire="constructor" scope="singleton"/>

    <bean id="orderRepo" name="" class="com.shaheen.repos.OrderRepoImpl" scope="prototype"/>
    <bean id="orderService" class="com.shaheen.services.OrderServiceImpl" autowire="byType"
          scope="prototype"/>

    <bean id="parent" class="com.shaheen.entity.Parent">
        <property name="age" value="56"/>
        <property name="name" value="mohamed"/>
    </bean>
    <bean id="child" parent="parent" class="com.shaheen.entity.Child">
        <property name="address" value="Mansoura"/>
    </bean>
</beans>